@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    background-color: rgb(74, 74, 74);
}

.pagination {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 1rem;
    z-index: 3;
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);;
}

.pagination img {
    height: 48px;
}

.pagination button {
    cursor: pointer;
}

#pokemon-overview {
    background: rgba(0, 0, 0, 0.336);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#overview-card {
    border-radius: 3px;
    background-color: #98cb98;
    width: 500px;
    margin-bottom: 90px;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#overview-card text {
    white-space: nowrap;
    font-size: 2rem;
}

#overview-card span {
    text-transform: capitalize;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#overview-card ul {
    display: flex;
    width: 100%;
    gap: 1rem;
    list-style: none;
}

#overview-card .stats {
    flex-direction: column;
    font-size: 1rem;
    gap: 0;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 3px;
    padding: 0.5rem;
}

#overview-card .stats li {
    border: none;
    padding: 0.25rem;
}

#overview-card .stats li text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#overview-card .stats li text span {
    font-size: 1.5rem;
}

#overview-card ul li, .primary-pokemon {
    border-radius: 3px;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.evolutions {
    max-width: 70vw;
    overflow: auto;
}

.evolutions li {
    cursor: pointer;
}

.primary-pokemon {
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokemon-infos {
    min-width: 180px;
}

#pokemon-overview {
    display: none;
}

#pokemon-overview .separator {
    display: flex;
    align-items: center;
    border: none;
    font-size: 3rem;
}

.exit {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#overview-card .types li {
    color: white;
    margin-top: 1rem;
}

#overview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    z-index: 1;
}

#overview-card img {
    height: 180px;
    image-rendering: pixelated;
}

#overview-card h3 {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

#dictionary {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 1rem;
    padding-bottom: 0;
    max-width: 100vw;
    margin-bottom: 154px;
}

.pagination input {
    width: 300px;
    border: 2px solid black;
    font-size: 2rem;
    padding: 1rem;
}

.pagination #search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.pagination #search img {
    height: 32px;
}

.pagination button {
    font-size: 2rem;
    height: 90px;
    width: 200px;
    border: 2px solid black;
}

.pokemon-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #98cb98;
    border: 3px solid black;
    border-radius: 3px;
    padding: 1rem;
    cursor: pointer;
}

.pokemon-card .noise {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    mix-blend-mode: multiply;
    opacity: 0.2;
}

.pokemon-card img {
    height: 180px;
    image-rendering: pixelated;
    z-index: 2;
}

img.shiny {
    display: none;
}

.shiny img.regular {
    display: none;
}

.shiny img.shiny {
    display: block;
}

.pokemon-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    z-index: 2;
    max-width: 100%;
}

.pokemon-card div > span {
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

.pokemon-card div ul span:nth-child(1) {
    max-width: 100%;
    overflow: hidden;
}

.pokemon-card ul {
    list-style: none;
}

.pokemon-card li text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.opacity-50 {
    opacity: .5;
}

.water {
    background: rgba(0, 51, 255, 0.3);
}

.fire {
    background-color: #ff4d00a4;
}

.flying {
    background: #00ffff32;
}

.grass, .bug {
    background-color: #11811185;
}

.poison {
    background-color: #ac0e8c85;
}

.normal {
    background-color: rgba(0, 0, 0, 0.3);
}

.psychic {
    background-color: #fa73fa95;
}

.electric {
    background-color: #ffde0695;
}

.dark {
    background-color: #2e2e2eb5;
}

.rock {
    background-color: rgba(128, 128, 128, 0.6);
}

.ice {
    background-color: rgba(56, 213, 252, 0.457);
}

.fairy {
    background-color: rgba(255, 124, 124, 0.717);
}

.ground {
    background-color: rgba(128, 0, 0, 0.358);
}

.fighting {
    background-color: rgba(255, 0, 0, 0.63);
}

.ghost {
    background-color: rgba(103, 47, 162, 0.717);
}

.dragon {
    background-color: rgba(94, 0, 128, 0.63);
}

.steel {
    background-color: rgba(128, 128, 128, 0.546);
}

.raindrop {
    position: fixed;
    top: 0;
    transform: translateX(-100%) translateY(-100%);
    image-rendering: pixelated;
    z-index: 100;
    animation: rain 3s ease;
    opacity: 0;
}

@media screen and (max-width: 1400px) {
    #dictionary {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (max-width: 900px) {
    #dictionary {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media screen and (max-width: 700px) {
    #dictionary {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 700px) {
    .pokemon-card img {
        height: 120px;
    }
}

@keyframes rain {
    from {
        opacity: 1;
        translate: 0 0;
    }
    to {
        opacity: 1;
        translate: 0 200vh;
    }
}