*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir;
}
.the-page{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2fr,1fr,1fr);
    
}
.slot-pokemon{
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    background-color: aliceblue;
    }
.game-board{
    display: flex;
    flex-direction: column;

    grid-column: 2/3;
    gap: 100px;
    width: 50%;
    background-color: white;
    box-shadow: inset 2px 2px 12px #000;
    border-radius: 1rem;
    padding: 1rem;
    justify-items: stretch;
}
.the-game{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20PX;
    justify-content: center;
    align-items: center;
    
}
.your-team{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: fit-content;
  
    gap: 20px;
}
.choose-pokemon-text{
    visibility: hidden;
}

.move-slot{
    padding: 1rem;
    margin: 1rem;
    background-color: bisque;
}


.attacks{
    grid-row: 2/3;
    grid-column: 1/3;
}